body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
 

}

.app-container {
  width: 86vw; 
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.class-selection, .assignment-submit {
  margin-bottom: 25px; 
}


input[type="text"] {
  width: 100%;
  padding: 15px; 
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 8px; 
}

button {
  width: 100%;
  padding: 12px; 
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

#assignments-list ul {
  list-style-type: none;
  padding-left: 0;
}

#assignments-list ul li {
  background-color: #e7f3ff;
  margin: 8px 0; 
  padding: 12px; 
  border-radius: 6px; 
  font-size: 14px; 
  overflow: hidden;
}
